.container-fluid,
.row {
    margin-left: 0;
    margin-right: 0;
    --bs-gutter-x: 0;
}

.spacer {
    height: 50px;
}

/* Navbar */

.navbar {
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-light {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.hamburger-icon {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.modal-header,
.modal-body,
.modal-footer {
    border: 0;
}

.modal {
    position: relative;
    border: 0;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgba(255, 255, 255);
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    outline: 0;
    height: 100vh;
}

.modal-dialog {
    max-width: 100%;
    margin: 0;
}

.collapse-item {
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    transition: .6s;
}

.collapse-item:hover {
    color: rgba(61, 58, 58, 0.5);
}

/* Toasts */

.message-container {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}