<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand ms-2" href="{% url 'home' %}">
            <h1 class="d-none d-sm-block mb-0 opacity-1">MELANIE RIEDER</h1>
            <h5 class="d-block d-sm-none mb-0 opacity-1">MELANIE RIEDER</h5>
        </a>
        <!-- Button trigger modal -->
        <button id="modal-button" type="button" class="me-2 hamburger-icon" data-bs-target="#headerModal">
            <img src="{{ MEDIA_URL }}hamburger-icon.png" style="height: 25px; width: 25px;" alt="">
        </button>
</nav>
<!-- Modal -->
<div class="modal fade" id="headerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="headerModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex align-items-center">
                <div class="col-12 d-flex justify-content-center">
                    <nav>
                        <ul class="list-unstyled text-center">
                            <li>
                                <a class="collapse-item" href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a class="collapse-item" href="{% url 'portfolio' %}">Portfolio</a>
                            </li>
                            <li>
                                <a class="collapse-item" href="{% url 'about' %}">Bio/Contact</a>
                            </li>
                            {% if user.is_superuser %}
                            <li>
                                <a class="collapse-item" href="{% url 'site_management' %}">Site Management</a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="collapse-item" href="https://www.instagram.com/makeupby_melanierieder/"
                                    target="_blank"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% block postloadjs %}
<script>
    $('#modal-button').click(function () {
        $('#headerModal').modal('toggle');
    })
</script>
{% endblock %}