{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block page_header %}
{% include 'includes/page_header.html' %}
{% endblock %}

{% block content %}
<div class="about-spacer"></div>
<div class="container-fluid about-container">
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-md-6 d-flex justify-content-center">
            <img src="{{ MEDIA_URL }}about-img-1.png" class="d-none d-lg-block" style="height: auto; width: 70%;"
                alt="">
            <img src="{{ MEDIA_URL }}about-img-1.png" class="d-block d-lg-none" style="height: 100%; width: 100%;"
                alt="">
        </div>
        <div class="col-10 col-md-6 mt-5 mt-md-0">
            <div class="col-10">
                <img src="{{ MEDIA_URL }}about-img-3.png" style="height: 50%; width: 100%;" alt="">
            </div>
            <div class="col-10 d-flex justify-content-start align-items-center">
                <div class="text-container">
                    <h1 class="name text-uppercase">Mehr über mich</h1>
                    <h1 class="pink">MAKEUP ARTIST</h1>
                    <p class="about-text">Mein Name ist Melanie Rieder und ich bin seit 2017 diplomierte Make-Up
                        Artistin. Schon als Kind hatte ich ständig die Schminkpinsel meiner Mutter in der Hand und
                        konnte es kaum erwarten mein Hobby zum Beruf zu machen. Für mich war schon ganz früh klar, dass
                        ich meiner Leidenschaft nachgehen muss.

                        Mein Herz gehört dem kreativen Make-Up. Ich liebe es Looks zu kreieren, egal ob editorial,
                        fashion, beauty, Braut Make-Up oder sogar Bodypaintings. Für mich gib es nichts schöneres als
                        die Schönheit eines Menschen durch Make-Up zu unterstreichen.

                        Wenn du auf der Suche nach Kreativität bist, dann bist du hier genau richtig!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-11 col-md-5 d-flex justify-content-center">
            <h5><a href="mailto:melanierieder@gmail.com" class="footer-link"><i class="far fa-envelope"></i> Email
                    me</a>
            </h5>
        </div>
        <div class="col-11 col-md-5 d-flex justify-content-center">
            <h5><a href="https://www.instagram.com/makeupby_melanierieder/" target="_blank" class="footer-link"><i
                        class="fab fa-instagram"></i> #makeupby_melanierieder</a></h5>
        </div>
    </div>

</div>
<div class="background-splash d-none d-lg-block"></div>
<div class="mobile d-block d-sm-none"></div>

{% endblock %}