.background-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/media/landing-image.jpeg') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.background-img-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/media/mobile-landing.png') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.portfolio-hero-img {
    position: absolute;
    background: url('/media/portfolio-hero-img.jpeg') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 70vh;
}


/* Navigation */

.landing-page-logo {
    text-decoration: none;
    color: #000;
}

.landing-page-logo:hover {
    color: #000;
}

.landing-link,
.landing-icon {
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: .5px;
    color: #000;
    transition: .6s;
}

.landing-link:hover,
.landing-icon:hover {
    color: #555;
}

.landing-link {
    border-bottom: 2px solid #000;
}

.landing-nav {
    margin-top: 10%;
}

#shareLink {
    border: 0;
    background-color: transparent;
    margin-left: 0;
    padding-left: 0;
    border-bottom: 2px solid #000;
}

.dropdown-menu {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(226, 211, 206);
    border-radius: 0px;
}

/* Portfolio */

.content-container {
    height: 70vh;
}

.portfolio-title {
    position: relative;
    color: #fff;
    padding: 10px;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 3px;
}

/* gallery */

#gallery,
#gallery2,
.card-img {
    clear: both;
    column-count: 2;
    line-height: 0px;
    position: relative;
}

.gallery-row {
    padding-left: 250px;
    padding-right: 250px;
    display: block;
}

#gallery>a>.card-img,
#gallery2>a>img {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 15px;
}

#gallery>.card-img,
#gallery2>img {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 15px;
}

.card {
    display: inline-block;
}

#gallery>div:nth-child(1),
#gallery2>div:nth-child(1) {
    margin-top: 0 !important;
}

@media screen and (max-width: 576px) {
    
}



.portfolio-link {
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    border: 2px solid #000;
    transition: .6s;
    padding: 3px;
    background-color: #f5f5f5;
    border-radius: 2px;
}

.portfolio-link:hover {
    color: #fff;
    background-color: #000
}

.portfolio-link.active {
    color: #fff;
    background-color: #000;
}

/* Gallery img overlay */

.card-title,
.content {
    color: #fff;
    letter-spacing: 1px;
}

.card,
.card-img {
    border: 0;
    border-radius: 0;
}

.content {
    position: absolute;
    top: 10%;
    left: 5%;
    transition: .9s ease;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    background: rgba(22, 22, 22, 0.4);
}

.card:hover .overlay {
    opacity: 1;
}


/* Gallery nav */
.page-link,
.page-item .active {
    border: 2px solid black !important;
    color: black !important;
    background-color: white !important;
    border-radius: 0 !important;
    transition: .6s;
}

.page-link {
    margin-left: 10px;
    margin-right: 10px;
}

.page-link:hover {
    border: 2px solid #817e7e !important;
    color: #817e7e !important;
}

.page-link:hover,
.page-link:focus,
.page-link:active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-appearance: none;
}

/* site_management */

.edit_page_img {
    width: 150px;
    height: 200px;
}

input#id_image {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* About page */

.about-spacer {
    height: 70px;
}

.name {
    font-size: 2rem;
    font-weight: 600;
}

.pink {
    font-size: 3rem;
    font-weight: 700;
    color: #DAA7A7;
}

.about-text {
    letter-spacing: 1px;
    color: #232323;
}

.about-container {
    position: relative;
}

.background-splash {
    background: url('/media/black-splash-desktop.png') no-repeat center center;
    background-size: contain;
    opacity: .1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.mobile {
    background: url('/media/black-splash.png') center center;
    background-size: contain;
    opacity: .1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.footer-link {
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    transition: .6s;
}

.footer-link:hover {
    color: #666666;
}

/* Arrow up */

.arrow-up {
    position: fixed;
    right: 5px;
    bottom: 0;
    display: none;
}

.fa-sort-up {
    font-size: 2rem;
}

/* deleteModal */

#deleteModal.modal {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 999999;
    height: 300px;
    width: 400px;
}

.delete-modal {
    height: 300px;
    width: 400px;
}

/* Media */

@media screen and (max-width: 750px) {
    #deleteModal {
        position: absolute;
        top: 5%;
        left: 5%;
        left: 0;
        z-index: 999999;
        height: 300px;
        width: 300px;
    }

    .delete-modal {
        height: 200px;
        width: 300px;
    }

}

@media screen and (max-width: 575px) {

    #gallery,
    #gallery2 {
        column-count: 1;
        padding-left: 10px;
        padding-right: 10px;
    }

    .gallery-row {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-link {
        font-size: 1.2rem;
    }

    .portfolio-link {
        font-size: .8rem;
    }

    .name,
    .pink {
        font-size: 1.8rem;
    }

    .modal-btn {
        padding: 3px;
        font-size: .8rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 1200px) {
    .gallery-row {
        padding-left: 75px;
        padding-right: 75px;
    }
}